<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

<!--=== Breadcrumbs Product Research ===-->
<div class="breadcrumbs margin-bottom-40">
    <div class="container">
        <h1 class="pull-left">Product Research</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li><a href="">Pages</a></li>
            <li class="active">Services</li>
        </ul>
    </div>
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
<div class="container">		
    <!-- Service Blcoks -->
    <div class="row service-v1 margin-bottom-40">
        <div class="col-md-4 md-margin-bottom-40">
            <div class="carousel slide carousel-v1" id="myCarousel">
                <div class="carousel-inner">
                    <div class="item active">
                        <img alt="" src="assets/img/main/9.jpg">
                        <div class="carousel-caption">
                            <p>Facilisis odio, dapibus ac justo acilisis gestinas.</p>
                        </div>
                    </div>
                    <div class="item">
                        <img alt="" src="assets/img/main/4.jpg">
                        <div class="carousel-caption">
                            <p>Cras justo odio, dapibus ac facilisis into egestas.</p>
                        </div>
                        </div>
                    <div class="item">
                        <img alt="" src="assets/img/main/10.jpg">
                        <div class="carousel-caption">
                            <p>Justo cras odio apibus ac afilisis lingestas de.</p>
                        </div>
                    </div>
                </div>
                
                <div class="carousel-arrow">
                    <a data-slide="prev" href="#myCarousel" class="left carousel-control">
                        <i class="icon-angle-left"></i>
                    </a>
                    <a data-slide="next" href="#myCarousel" class="right carousel-control">
                        <i class="icon-angle-right"></i>
                    </a>
                </div>
            </div>
            <h2>60+ Template Pages</h2>
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et <strong class="color-green">quas molestias excepturi</strong> sint occaecati cupiditate non provident, similique animi..</p>        
        </div>
        <div class="col-md-4">
            <img class="img-responsive" src="assets/img/main/3.jpg" alt="">            
            <h2>Developer Friendly Code</h2>
            <p>Diccusamus et iusto <strong class="color-green">odio dignissimos aucimus</strong> nditiis praesentium voluptatum deleniti atque corrupti quos dolores vero eosetaet quas molestias excepturi sint occaecati cupiditate non provident, similique animi..</p>        
        </div>
        <div class="col-md-4 md-margin-bottom-40">
            <iframe src="http://player.vimeo.com/video/47911018" width="100%" height="227" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> 

            <h2>Bootstrap 3 Template</h2>
            <p>Unify is an incredibly beautiful Responsive Bootstrap Template for <strong class="color-green">corporate and creative</strong> professionals. It works on all major web browsers, tablets and phone. Lorem sequat ipsum dolor lorem sit amet, consectetur adipiscing dolor...</p>        
        </div>
    </div>
    <!-- End Service Blcoks -->

    <hr class="margin-bottom-40">

    <!-- Info Blcoks -->
    <div class="row">
        <div class="col-sm-4 info-blocks">
            <i class="icon-bell icon-info-blocks"></i>
            <div class="info-blocks-in">
                <h3>Here will be some title</h3>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum animi..</p>
            </div>
        </div>
        <div class="col-sm-4 info-blocks">
            <i class="icon-hdd icon-info-blocks"></i>
            <div class="info-blocks-in">
                <h3>Here will be some title</h3>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum animi..</p>
            </div>
        </div>
        <div class="col-sm-4 info-blocks">
            <i class="icon-lightbulb icon-info-blocks"></i>
            <div class="info-blocks-in">
                <h3>Here will be some title</h3>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum animi..</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 info-blocks">
            <i class="icon-heart-empty icon-info-blocks"></i>
            <div class="info-blocks-in">
                <h3>Here will be some title</h3>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum animi..</p>
            </div>
        </div>
        <div class="col-sm-4 info-blocks">
            <i class="icon-thumbs-up-alt icon-info-blocks"></i>
            <div class="info-blocks-in">
                <h3>Here will be some title</h3>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum animi..</p>
            </div>
        </div>
        <div class="col-sm-4 info-blocks">
            <i class="icon-laptop icon-info-blocks"></i>
            <div class="info-blocks-in">
                <h3>Here will be some title</h3>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum animi..</p>
            </div>
        </div>
    </div>
    <!--End Info Blcoks -->

    <hr class="margin-bottom-50">

    <!--Testimonials and Info-->
    <div class="row">
        <div class="col-md-5">
            <div class="carousel slide testimonials testimonials-v1" id="testimonials-1">
                <div class="carousel-inner">
                    <div class="item active">
                        <p>Crasjusto ducimus qui cupiditate non provident, similique sunt in culpaid est anditiis praesentium praesentium blanditiis praesentium non provident, similique sunt in culpaid est anditiis praesentium praesentium..</p>
                        <div class="testimonial-info">
                            <img alt="" src="assets/img/testimonials/img1.jpg">
                            <span class="testimonial-author">
                                Jeremy Asigner 
                                <em>Web Developer, Unify Theme.</em>
                            </span>
                        </div>
                    </div>
                    <div class="item">
                        <p>Crasjusto ducimus qui cupiditate non provident, similique sunt in culpaid est anditiis praesentium praesentium blanditiis praesentium non provident, similique sunt in culpaid est anditiis praesentium praesentium..</p>
                        <div class="testimonial-info">
                            <img alt="" src="assets/img/testimonials/user.jpg">
                            <span class="testimonial-author">
                                User 
                                <em>Java Developer, Htmlstream</em>
                            </span>
                        </div>
                    </div>
                    <div class="item">
                        <p>Crasjusto ducimus qui cupiditate non provident, similique sunt in culpaid est anditiis praesentium praesentium blanditiis praesentium non provident, similique sunt in culpaid est anditiis praesentium praesentium..</p>
                        <div class="testimonial-info">
                            <img alt="" src="assets/img/testimonials/img2.jpg">
                            <span class="testimonial-author">
                                Kate Davenport 
                                <em>Web Designer, Google Inc.</em>
                            </span>
                        </div>                                
                    </div>
                </div>
                
                <div class="carousel-arrow">
                    <a data-slide="prev" href="#testimonials-1" class="left carousel-control">
                        <i class="icon-angle-left"></i>
                    </a>
                    <a data-slide="next" href="#testimonials-1" class="right carousel-control">
                        <i class="icon-angle-right"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="search-blocks search-blocks-top-sea">
                <div class="row">
                    <div class="col-md-4 search-img">
                        <img alt="" src="assets/img/new/img10.jpg" class="img-responsive">
                        <ul class="list-unstyled">
                           <li><i class="icon-briefcase"></i> Dell, Google</li>
                           <li><i class="icon-map-marker"></i> New York, US</li>
                        </ul>
                    </div>
                    <div class="col-md-8">
                        <h2><a href="#">Sea Bordered Box</a></h2>
                        <ul class="list-unstyled search-rating">
                           <li><i class="icon-star"></i></li>
                           <li><i class="icon-star"></i></li>
                           <li><i class="icon-star"></i></li>
                           <li><i class="icon-star"></i></li>
                           <li><i class="icon-star"></i></li>
                        </ul>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum.</p>
                    </div>
                </div>                            
            </div>
        </div>
    </div>
    <!--End Testimonials and Info-->

    <!-- Our Clients -->
    <div id="clients-flexslider" class="flexslider home clients">
        <div class="headline"><h2>Our Clients</h2></div>    
        <ul class="slides">
            <li>
                <a href="#">
                    <img src="assets/img/clients/hp_grey.png" alt="" /> 
                    <img src="assets/img/clients/hp.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="assets/img/clients/igneus_grey.png" alt="" /> 
                    <img src="assets/img/clients/igneus.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="assets/img/clients/vadafone_grey.png" alt="" /> 
                    <img src="assets/img/clients/vadafone.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="assets/img/clients/walmart_grey.png" alt="" /> 
                    <img src="assets/img/clients/walmart.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="assets/img/clients/shell_grey.png" alt="" /> 
                    <img src="assets/img/clients/shell.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="assets/img/clients/natural_grey.png" alt="" /> 
                    <img src="assets/img/clients/natural.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="assets/img/clients/aztec_grey.png" alt="" /> 
                    <img src="assets/img/clients/aztec.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="assets/img/clients/gamescast_grey.png" alt="" /> 
                    <img src="assets/img/clients/gamescast.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="assets/img/clients/cisco_grey.png" alt="" /> 
                    <img src="assets/img/clients/cisco.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="assets/img/clients/everyday_grey.png" alt="" /> 
                    <img src="assets/img/clients/everyday.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="assets/img/clients/cocacola_grey.png" alt="" /> 
                    <img src="assets/img/clients/cocacola.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="assets/img/clients/spinworkx_grey.png" alt="" /> 
                    <img src="assets/img/clients/spinworkx.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="assets/img/clients/shell_grey.png" alt="" /> 
                    <img src="assets/img/clients/shell.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="assets/img/clients/natural_grey.png" alt="" /> 
                    <img src="assets/img/clients/natural.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="assets/img/clients/gamescast_grey.png" alt="" /> 
                    <img src="assets/img/clients/gamescast.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="assets/img/clients/everyday_grey.png" alt="" /> 
                    <img src="assets/img/clients/everyday.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="assets/img/clients/spinworkx_grey.png" alt="" /> 
                    <img src="assets/img/clients/spinworkx.png" class="color-img" alt="" />
                </a>
            </li>
        </ul>
    </div><!--/flexslider-->
    <!-- End Our Clients -->
</div><!--/container-->		
<!--=== End Content Part ===-->


{% endblock %}
