<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
<head>
    <title>Unify | Coming Soon Page..</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- CSS Global Compulsory-->
    <link rel="stylesheet" href="static/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/headers/header1.css">
    <link rel="stylesheet" href="static/css/responsive.css">
    <link rel="shortcut icon" href="favicon.ico">        
    <!-- CSS Implementing Plugins -->    
    <link rel="stylesheet" href="static/plugins/font-awesome/css/font-awesome.css">
    <!-- CSS Page Style -->    
    <link rel="stylesheet" href="static/css/pages/page_404_error1.css">    
    <!-- CSS Theme -->    
    <link rel="stylesheet" href="static/css/themes/default.css" id="style_color">
    <link rel="stylesheet" href="static/css/themes/headers/default.css" id="style_color-header-1">    
</head> 

<body>

<!--=== Content Part ===-->    
<div class="container">
    <!--Error Block-->
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="error-v2">
                <span class="error-v2-title">404</span>
                <span>That’s an error!</span>
                <p>Looks like we're still working on something <br> That’s all we know.</p>
                <p>Go back to<a href="{{ url_for('index') }}">Main Page</a>
            </div>
        </div>
    </div>
    <!--End Error Block-->
</div><!--/container-->
<!--=== End Content Part ===-->

<!-- JS Global Compulsory -->           
<script type="text/javascript" src="static/plugins/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="static/plugins/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="static/plugins/bootstrap/js/bootstrap.min.js"></script> 
<script type="text/javascript" src="static/plugins/hover-dropdown.min.js"></script> 
<script type="text/javascript" src="static/plugins/back-to-top.js"></script>
<!-- JS Implementing Plugins -->           
<script type="text/javascript" src="static/plugins/countdown/jquery.countdown.js"></script>
<script type="text/javascript" src="static/plugins/backstretch/jquery.backstretch.min.js"></script>
<script type="text/javascript">
    $.backstretch([
      "static/img/bg/4.jpg",
      "static/img/bg/8.jpg",
      "static/img/bg/5.jpg",
      ], {
        fade: 1000,
        duration: 7000
    });
</script>
<!-- JS Page Level -->           
<script type="text/javascript" src="static/js/app.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
    });
</script>
<!--[if lt IE 9]>
    <script src="static/plugins/respond.js"></script>
<![endif]-->

</body>
</html> 