{% extends "base.html" %}
   
      {% block content %}

       <h2> Create a Shopping List</h2>

            <form action="/make_shoppinglist">
            	<label for="shoppinglist_name">Enter a name for your shopping list</label>
            		<input type="text" name="shoppinglist_name" />

                        <h2> Select Items </h2>

                 		     <label for="select_items"> </label>
                     			{% for item in select_item %}
                     				<input type="checkbox" name="added_item{{item.id}}" value="{{item.id}}">
                                    {{ item.name }} | 
                                    Brand: {{ item.brand }} | 
                                    Measure: {{ item.measurement }} | 
                                    Price: {{ item.price }} | 
                                    Store: {{ item.store_name }} | 
                                    Location: {{ item.location }} | 
                                    Nearest Transit: {{item.transit}} <br><br>
                     			{% endfor %}
                            <input type="submit">
            </form>

      
{% endblock %}



