{% extends "base.html" %}
   
      {% block content %}

       <h2> Create a Shopping List</h2>

            <form action="/make_shoppinglist">
            	<label for="playlist_name">Enter a name for your shopping list</label>
            		<input type="text" name="shoppinglist_name" />

         		<div id="container">

         	<h2> Select Items </h2>

         		<label for="select_items"> </label>
         			{% for item in select_item %}
         				<input type="checkbox" name="added_item{{item.id}}" value="{{item.id}}">{{ item.name }} {{ item.brand }} {{ item.measurement }} {{ item.price }} {{ item.store_name }} {{ item.location }} {{item.transit}} <br>
         			{% endfor %}
            			<input type="submit">
            		</form>
            <h2><a href="/food_items">See Food Items</a>
      
   
     {% endblock %}