
{% extends "base.html" %}
	{% block content %}
		  		
		<h1>Staple Selections</h1>	

	  	  <h3>List of food items, prices, and store locations currently in the database.</h3>


		  		{% for item in all_items %} 
		  		
		  			{{ item.name }} 
		  			Brand: {{ item.brand }} | 
		  			Measurement: {{ item.measurement }} | 
		  			Price: {{ item.price }} | 
		  			Store: {{ item.store_name }} | 
		  			Location: {{ item.location }} | 
		  			Nearest Transit Stop: {{item.transit}}<br><br>
	  			
	  			{% endfor %}
			
	






	{% endblock %}