<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}


<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-40">
    <div class="container">
        <h1 class="pull-left">Our Story</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="{{ url_for('story') }}">Our Story</a></li>
            <li><a href="{{ url_for('team') }}">Team</a></li>
            <li><a href="{{ url_for('contact') }}">Contact</a></li>
            <li class="active"></li>
        </ul>
    </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
<div class="container">		
	<div class="row margin-bottom-30">
    	<div class="col-md-6 md-margin-bottom-40">
            <p>SNAPbasket began in Fall 2013 when Bessie Chu, Catie Peiper and Gabriel Bernadett-Shapiro teamed up for a group project as part of an <a href="http://web-app.usc.edu/soc/20133/comm-579">Entrepreneurship and New Media course</a> offered by <a href="http://communicationleadership.usc.edu/people/director/geoffrey_cowan.html">Jeffery Cowan</a> and <a href="http://communicationleadership.usc.edu/people/research_staff/mark_latonero.html">Mark Latonero</a> at the University of Southern California.  Tasked with devising a technology-based solution for a large-scale social issue, the team focused on low-income individuals enrolled in the <a href="http://www.fns.usda.gov/snap/supplemental-nutrition-assistance-program-snap">Supplemental Nutritional Assistance Program (SNAP)</a> or what are commonly known as “food stamp” benefits.</p>

			<p>Catie's own experience budgeting while on SNAP benefits inspired the idea.  She recorded the cost of every item on her grocery list at a number of different local stores in order to keep track of price disparities and food inflation.  When an individual's monthly grocery budget is only $131 per month, paying the lowest available price for staple items becomes essential– particularly when the difference in prices for the same grocery item at two different locations can be as much as a 120% increase, a difference of what could be several meals.</p> 

			<p>The concept behind SNAPbasket is to a create a text (SMS) and web-based application that provides frequently updated, location-specific grocery pricing information to individuals who are trying to make the most of every dollar in their limited budgets.</p>

			<p>Since coming together in 2013, Bessie, Catie, and Gabriel entered and won the Annenberg Innovation Lab's CRUNCH Hackathon with their SNAPbasket prototype and proposal. Winning this competition gained them entry into the <a href="http://www.annenberglab.com/news/2013/12/winners-spring-2014-crunch-challenge-course-announced">Digital Design and Innovation Practicum</a>, an accelerator program hosted through the <a href="http://www.annenberglab.com">USC Annenberg Innovation Lab</a>, and initial seed funding.</p>

            <br />

            <!-- Blockquotes -->
            <blockquote>
                <p>Our team is looking for smart partnerships to develop SNAPbasket. Please send us a message at <a href="mailto:snapbasketall@gmail.com">SNAPbasketapp@gmail.com</a> to contact us.
</p>
            </blockquote>
        </div>

    	<div class="col-md-6 md-margin-bottom-40">
            <div class="responsive-video">
                <iframe src="http://player.vimeo.com/video/91756864" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> 
            </div>
        </div>
    </div><!--/row-->








{% endblock %}