<!-- extend base layout -->
{% extends "base_app.html" %}
{% block content %}




<div class="container">
    <table>
        <tr valign="top">
            <td><img src="{{user.avatar(128)}}"></td>
            <td>
                <h4>User: {{user.nickname}}</h4>
                {% if user.about_me %}<p>{{user.about_me}}</p>{% endif %}
                {% if user.last_seen %}<p><i>Last seen on: {{user.last_seen}}</i></p>{% endif %}
    <!--   -->                    {% if user.id == g.user.id %}
                        <a href="{{url_for('edit')}}">Edit your profile</a>
                    {% elif not g.user.is_following(user) %}
                        <a href="{{url_for('follow', nickname = user.nickname)}}">Follow</a>
                    {% else %}
                        <a href="{{url_for('unfollow', nickname = user.nickname)}}">Unfollow</a>
                    {% endif %}
            </td>
        </tr>
    </table>
    <hr />
    <h3>{{user.nickname}}'s Shopping Lists</h3>
         <div class="panel panel-green margin-bottom-40">
            {% for i in range(0, baskets| count) %}  
               <table class="table table-hover">
            <thead>    
                <div class="panel-heading">
                <h3 class="panel-title">{{ baskets[i].name }}</h3>
                </div>
                    <tr>
                        <th>Food Name</th>
                        <th>Brand</th>
                        <th>Store Name</th>
                        <th>Amount</th>
                        <th>Price</th>
                        <th>Store Location</th>
                        <th>Nearest Transit Stop</th>
                    </tr>
            </thead>
            <tbody>
                {% for j in range(0, baskets[i].basket_entries| count) %}
                <tr>
                    <td>{{ baskets[i].basket_entries[j].food.name| safe }}</td>
                    <td>{{ baskets[i].basket_entries[j].food.brand| safe }} </td>
                    <td>{{ baskets[i].basket_entries[j].food.store_name| safe }} </td>
                    <td>{{ baskets[i].basket_entries[j].food.measurement| safe }} </td>
                    <td>{{ baskets[i].basket_entries[j].food.price| safe }} </td>
                    <td>{{ baskets[i].basket_entries[j].food.location| safe }} </td>
                    <td>{{ baskets[i].basket_entries[j].food.transit| safe }} </td> 
                {% endfor %}
            {% endfor %}
                </tr>
            </tbody>

    </table>
</div>

    
    <h3>{{user.nickname}}'s Messages to SNAPbasket Community</h3>
            {% for post in posts %}
                {% include 'post.html' %}
            {% endfor %}
</div>

{% endblock %}